@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face{
  font-family: 'Shikamaru';
  src:url('./fonts/Shikamaru.ttf');
}

/*SLIDER IN SLIDER COMPONENT*/
.indicator {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  border: 1px #666 solid;
  margin: 0;
}

.react-slideshow-container+ul.indicators .each-slideshow-indicator:before {
  background:white;
}

/*TAB IN TAB SECTION*/

.active{
  border-bottom: 2px solid white;
  transition: border-bottom 0.2s ease-in-out;
}